<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- Archivo Black Font -->
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <!-- Inter Font -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <script src="../static/scripts.js" defer></script>
        <title>StudentStorage</title>
    </head>
    <body>
        <!-- Header block fixed @ top of page -->
        <header>
            <div class="header-container">
                <h1>StudentStorage</h1>
                <!-- Navbar -->
                <a href="javascript:void(0);" class="clear-link-styles" id="menu-button">Menu ☰</a>
                <nav class="navbar">
                    <ul class="navlink-container">
                        <li class="navlink"><a href="../index.html" class="clear-link-styles">Home</a></li>
                        <li class="navlink"><a href="./faq.html" class="clear-link-styles">About/FAQ</a></li>
                        <li class="navlink"><a href="./storage.html" class="clear-link-styles">How it Works</a></li>
                        <li class="navlink" id="navlink-emphasized"><a href="./access.html" class="clear-link-styles">Get Early Access</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="gap">
            <!-- gap behind fixed navbar -->
        </div>
        <main>
            <div class="page-section">
                <h2>Sign Up for Early Access</h2>
                <form class="form-container">
                    <div class="two-section-grid form-field">
                        <label for="first-name" class="left-section">First Name: *</label>
                        <input type="name" class="right-section" id="first-name" required>
                    </div>
                    <div class="two-section-grid form-field">
                        <label for="last-name" class="left-section">Last Name:  *</label>
                        <input type="name" class="right-section" id="last-name" required>
                    </div>
                    <div class="two-section-grid form-field">
                        <label for="email-address" class="left-section">Email Address:  *</label>
                        <input type="name" class="right-section" id="email-address" required>
                    </div>
                    <div class="two-section-grid form-field">
                        <label for="phone-number" class="left-section">Phone Number:</label>
                        <input type="tel" class="right-section" id="phone-number">
                    </div>
                    <div class="two-section-grid form-field">
                        <label for="comments" class="left-section">Comments:</label>
                        <input type="text" class="right-section" id="comments">
                    </div>
                    <div class="submit-container">
                        <input type="submit" class="button-default" id="Submit">
                    </div>                
                </form>
            </div>
            <div class="page-section bg-light">
                <h2>Contact:</h2>
                <div class="contact-container">
                    <div class="sub-section">
                        <h3>Email:</h3>
                        <p>studentstorage@gmail.com</p>
                    </div>
                    <div class="sub-section">
                        <h3>Customer Support:</h3>
                        <p>+1 999-999-9999</p>
                    </div>
                    <div class="sub-section">
                        <h3>Mailing Address:</h3>
                        <p>676 Storage St.,</p>
                        <p>Midway Atoll, 96898</p>
                    </div>
                </div>
            </div>
        </main>
        <br>
        <footer>
            <p>©2026 StudentStorage. All rights reserved.</p>
        </footer>
    </body>
</html>
