<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- Gochi Hand Font -->
        <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <!-- Archivo Black Font -->
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <!-- Patrick Hand Font -->
        <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Patrick+Hand&display=swap" rel="stylesheet">
        <script src="../static/scripts.js" defer></script>
        <title>StudentStorage</title>
    </head>
    <body>
        <!-- Header block fixed @ top of page -->
        <header>
            <div class="header-container">
                <h1>StudentStorage</h1>
                <!-- Navbar -->
                <a href="javascript:void(0);" class="clear-link-styles" id="menu-button">☰</a>
                <nav class="navbar">
                    <ul class="navlink-container">
                        <li class="navlink"><a href="../index.html" class="clear-link-styles">Home</a></li>
                        <li class="navlink"><a href="./faq.html" class="clear-link-styles">About/FAQ</a></li>
                        <li class="navlink"><a href="./storage.html" class="clear-link-styles">How it Works</a></li>
                        <li class="navlink" id="navlink-emphasized"><a href="./access.html" class="clear-link-styles">Get Early Access</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="gap">
            <!-- gap behind fixed navbar -->
        </div>
        <main>
            <div class="page-section">
                <h2>About</h2>
                <p>StudentStorage was founded in 2026 as a student-driven 
                    initiative to address the seasonal challenges of campus 
                    move-outs and short-term storage gaps. Developed in response 
                    to the lack of affordable and flexible options available to 
                    students, the platform brings together peers across campuses 
                    to better utilize existing space. By building on shared 
                    student experiences, StudentStorage aims to create a more 
                    coordinated and accessible approach to summer storage.</p>
            </div>
            <div class="page-section bg-light" style="background-color: #cbe1fe;">
                <h2>Frequently Asked Questions (FAQ)</h2>
                <div class="sub-section">
                    <h3>What is StudentStorage?</h3>
                    <p>Student storage is a platform that connects peers who need short-term storage with other students who either have the available storage they need or also need storage (for the purposes of sharing one storage space together).</p>
                </div>
                <div class="sub-section">
                    <h3>How is this different from traditional storage units?</h3>
                    <p>StudentStorage is a far more affordable option than traditional storage units. We don’t own any actual storage units, but rather we connect students who need storage to students that have storage. <br> Furthermore, this system is designed to serve multiple purposes that traditional units do not. Not only do we connect people who host storage to renters, we also connect renters to other renters who want to split a storage space in the case that they have unused space.</p>
                </div>
                <div class="sub-section">
                    <h3>Are my belongings safe?</h3>
                    <p>We have user verification via student emails to ensure outsiders can not access your personal belongings. We also have insurance measures in place such that if any of your belongings are damaged or missing, we will issue you a full refund of how much you paid for storage. </p>
                </div>
                <div class="sub-section">
                    <h3>Can I access my items at any time?  </h3>
                    <p>That depends on the storage provider.</p>
                </div>
            </div>
            <div class="page-section">
                <h2>Team</h2>
                <div class="team-container">
                    <div class="teammate">
                        <img src="../static/images/bryna.jpg" width="200" height="200">
                        <p>Bryna Ha</p>
                        <p class="whisper">UX Lead</p>
                    </div>
                    <div class="teammate">
                        <img src="../static/images/lynsey.jpg" width="200" height="200">
                        <p>Lynsey Li</p>
                        <p class="whisper">Product Lead</p>
                    </div>
                    <div class="teammate">
                        <img src="../static/images/nathan.jpg" width="200" height="200">
                        <p>Nathan Liu</p>
                        <p class="whisper">Visualist</p>
                    </div>
                    <div class="teammate">
                        <img src="../static/images/veronica.png" width="200" height="200">
                        <p>Veronica Pak</p>
                        <p class="whisper">Tech Lead</p>
                    </div>
                </div>
            </div>
        </main>
        <br>
        <footer>
            <p>©2026 StudentStorage. All rights reserved.</p>
        </footer>
    </body>
</html>
