<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- Archivo Black Font -->
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <!-- Inter Font -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <script src="../static/scripts.js" defer></script>
        <title>StudentStorage</title>
    </head>
    <body>
        <!-- Header block fixed @ top of page -->
        <header>
            <div class="header-container">
                <h1>StudentStorage</h1>
                <!-- Navbar -->
                <a href="javascript:void(0);" class="clear-link-styles" id="menu-button">Menu ☰</a>
                <nav class="navbar">
                    <ul class="navlink-container">
                        <li class="navlink"><a href="../index.html" class="clear-link-styles">Home</a></li>
                        <li class="navlink"><a href="./faq.html" class="clear-link-styles">About/FAQ</a></li>
                        <li class="navlink"><a href="./storage.html" class="clear-link-styles">How it Works</a></li>
                        <li class="navlink" id="navlink-emphasized"><a href="./access.html" class="clear-link-styles">Get Early Access</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="gap">
            <!-- gap behind fixed navbar -->
        </div>
        <main>
            <div class="page-section">
                <h2>About</h2>
                <p>StudentStorage was founded in 2026 as a student-driven 
                    initiative to address the seasonal challenges of campus 
                    move-outs and short-term storage gaps. Developed in response 
                    to the lack of affordable and flexible options available to 
                    students, the platform brings together peers across campuses 
                    to better utilize existing space. By building on shared 
                    student experiences, StudentStorage aims to create a more 
                    coordinated and accessible approach to summer storage.</p>
            </div>
            <div class="page-section bg-light">
                <h2>Frequently Asked Questions (FAQ)</h2>
                <div class="sub-section">
                    <h3>Question</h3>
                    <p>Answer</p>
                </div>
                <div class="sub-section">
                    <h3>Question</h3>
                    <p>Answer</p>
                </div>
                <div class="sub-section">
                    <h3>Question</h3>
                    <p>Answer</p>
                </div>
            </div>
            <div class="page-section">
                <h2>Team</h2>
                <div class="team-container">
                    <div class="teammate">
                        <!-- image here -->
                        <p>Bryna Ha</p>
                        <p class="whisper">insert role</p>
                    </div>
                    <div class="teammate">
                        <!-- image here -->
                        <p>Lynsey Li</p>
                        <p class="whisper">insert role</p>
                    </div>
                    <div class="teammate">
                        <!-- image here -->
                        <p>Nathan Liu</p>
                        <p class="whisper">insert role</p>
                    </div>
                    <div class="teammate">
                        <!-- image here -->
                        <p>Veronica Pak</p>
                        <p class="whisper">insert role</p>
                    </div>
                </div>
            </div>
        </main>
        <br>
        <footer>
            <p>©2026 StudentStorage. All rights reserved.</p>
        </footer>
    </body>
</html>
