<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- Archivo Black Font -->
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <!-- Inter Font -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <script src="../static/scripts.js" defer></script>
        <title>StudentStorage</title>
    </head>
    <body>
        <!-- Header block fixed @ top of page -->
        <header>
            <div class="header-container">
                <h1>StudentStorage</h1>
                <!-- Navbar -->
                <a href="javascript:void(0);" class="clear-link-styles" id="menu-button">Menu ☰</a>
                <nav class="navbar">
                    <ul class="navlink-container">
                        <li class="navlink"><a href="../index.html" class="clear-link-styles">Home</a></li>
                        <li class="navlink"><a href="./faq.html" class="clear-link-styles">About/FAQ</a></li>
                        <li class="navlink"><a href="./storage.html" class="clear-link-styles">Find Storage</a></li>
                        <li class="navlink" id="navlink-emphasized"><a href="./access.html" class="clear-link-styles">Get Early Access</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="gap">
            <!-- gap behind fixed navbar -->
        </div>
        <main>
            <div class="page-section how-it-works">
                <h2>How it Works</h2>
                <p>[insert info about StudentStorage]</p>
                <div class="sub-section method-container">
                    <div class="method bg-light">
                        <p>text</p>
                    </div>
                    <div class="method bg-light">
                        <p>text</p>
                    </div>
                    <div class="method bg-light">
                        <p>text</p>
                    </div>
                </div>
                <p>some more text yay</p>
            </div>
            <div class="page-section bg-light">
                <h2>Strategic Analysis</h2>
                <p>social theories and stuff</p>
            </div>
        </main>
        <br>
        <footer>
            <p>©2026 StudentStorage. All rights reserved.</p>
        </footer>
    </body>
</html>
